.snacks-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    justify-content: center;
    padding:10px;
  }

  table th {
    text-align: left;
    font-weight: bold;
  }

  .snack-container-pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

.spacing{
    margin-left: 70px;
    margin-right: 70px;
}

img {
    height: 60px;
}