.snacks-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    justify-content: center;
    padding:10px;
  }

  table th {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .snack-container-pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

.spacing{
    margin-left: 70px;
    margin-right: 70px;
}

img {
  float: center;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

th:first-of-type {
  border-top-left-radius: 15px;
}
th:last-of-type {
  border-top-right-radius: 15px;
}

